<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SD2MaintainDictionary/src/main/java/com/bbn/sd2/DictionaryMaintainerApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bbn.sd2.DictionaryMaintainerApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s 15 -p jWJ1yztJl2f7RaePHMtXmxBBHwNt -S https://hub.sd2e.org -c https://hub.sd2e.org/user/sd2e/design"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SD2MaintainDictionary"/>
</launchConfiguration>
